table{
    table-layout: fixed;
    width: 1000px;
  }

#miTabla th{
    width: 130px;
    overflow: auto;
  }

#container{
  padding-top: 30px;
}

.form_register {
  height: 560px;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.sign-up_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.sign-up_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}